html, body {
    width:100%;
    margin: 0;
    padding:0;
    color:#222;
    background-color:#fff;
    font-family:'Roboto';
    font-size:1em;
    font-weight:300;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    -font-smoothing: antialiased !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Roboto';
    margin:0;
    padding:0;
    color:#59595A;
    font-weight:500;
}

button {
    margin:0;
    padding:0;
    font-family:inherit;
    font-size:1em;
}

a {
    text-decoration: none !important;
    color:#455A64;
}